<%- include('./layouts/header') %>
    <%- include('./layouts/nav') %>

        <div id="mainScreen" class="container-fluid" style="height: 84vh;">
            <div class="container pt-5 text-white">
                <div class="row">
                    <div class="col-md-8">
                        <tr>
                            <table>
                                <th>Nama</th>
                                <th>Alamat</th>
                                <th>No.Hp</th>
                                <th>Email</th>
                                <th colspan="3">Aksi</th>
                            </table>
                        </tr>
                        
                    </div>
                </div>
            </div>
        </div>
        <%- include('./layouts/footer') %>