<%- include('./layouts/header') %>
    <%- include('./layouts/nav') %>

        <div id="mainScreen" class="container-fluid" style="height: 84vh;">
            <div class="container pt-5 text-white">
                <div class="row">
                    <div class="col-md-4">
                        <form method="delete" action="/login">
                            <h3>FORM DELETE</h1>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./layouts/footer') %>