<footer>
    <div class="container-fluid bg-dark text-white">
        <div class="d-flex justify-content-between">
            <div class="text-muted">
                <p>&copy 2018 Your Games, Inc. All Rights Reserved</p>
            </div>
            <div>
                <p>Privacy Policy | Terms of Services | Code of Conduct </p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="./js/index.js"></script>
</body>

</html>